.list1{

color:#676FA3;
font-family:"Inter";

font-size: 50px;

}

.list2{

    font-family: "Inter";

}






.No{

    font-family: 'Inter';
    font-size: 20px;
    color:#676FA3
}
.label{

    

        font-family: 'Inter';
    
    font-size: 19px;
    

}

.novbor{

background-color: #CDDEFF;

}

.Todo{


}
