.App {
  text-align: center;
  border-radius: 5px;
  
}

.g{
  position:relative;
  text-align: center;
  align-content:center;
  margin: 10px 10px 10px 10px;
  border: solid 5px #DCDCDC;
  border-radius: 5px;
}

.g{

  background-color: #6495ed

}


#white{

 font-size:30px;
  color:#DCDCDC;
}



[type = "checkbox"]{

  position: relative;

  left:20px;

width:50px;
height:15px;

}


.Todo,span{

  position:relative;
  text-align: center;
  align-content:center;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
}
#btn {
  position:relative;
  text-align: center;
  align-content:center;
  background-color: white; 
  color: black; 
  border: 3px solid #008CBA;
  border-radius: 5px;


  font-family:monospace ;
}

.list1{
position:absolute;

top:105px;
right:3px;
  color:blue;
  position:relative;
  text-align: center;
  align-content:center;

  font-size: 50px;
 font-family:monospace;
}

#btn:hover {
  position:relative;
  text-align: center;
  align-content:center;
  background-color: #008CBA;
  color: white;
  border-radius: 5px;
}
.size{
  font-family:monospace ;
  font-size: 25px;
  color:white;
  
}

#GetData:hover{

  position:relative;
  text-align: center;
  align-content:center;
  background-color: #008CBA;
  color: white;
  border-radius: 5px;

}


#GetData{


  position:relative;
  text-align: center;
  align-content:center;
  background-color: white; 
  color: black; 
  border: 3px solid #008CBA;
  border-radius: 5px;
  font-family:monospace ;

}

.Todo{  
    margin-top: 50px;
  margin-bottom: 50px;
  position:relative;
  text-align: center;
  align-content:center;
text-align: center;
  border: solid 5px #DCDCDC;
  border-radius: 5px;
  max-width: 80%;
height: auto;
width:25%;
margin: 0 auto;
margin-top: 50px;
    margin-bottom: 50px;

    padding-top: 30px;

padding-bottom: 30px;

padding-left: 30px;

padding-right: 30px;

transition: transform 2s ease-in-out  ;
}


.Add{
  position:relative;
  text-align: center;
  align-content:center;
  font-family:monospace ;
  border: solid 5px #DCDCDC;
  border-radius: 5px;
  max-width: 100%;
  height: 50px;
  width:25%;
margin: auto;
margin-bottom: 25px;

padding-top: 50px;

padding-bottom: 50px;

padding-left: 50px;

padding-right: 50px;

}

body{

background-color: #FFF5EE;

}
#btn{
  
  align-content: center;
  margin: 10px 10px 10px 10px;
  font-family:monospace ;

  
}




.To{
color:white;
  position:relative;
  text-align: center;
  align-content:center;
 font-size: 50px;
 font-family:monospace;
}